openapi: 3.0.1
info:
  title: Klu Actions Workspaces API
  description: 'REST API for the Klu (klu.ai) LLM app platform. The Klu Engine runs Actions - each encapsulating a prompt template, model config, context (RAG), and output parsing - against input variables to generate completions, and manages the data, feedback, sessions, models, apps, and workspaces around them. Authentication is via a Bearer API key obtained from the workspace API Keys settings.

    NOTE - Endpoints under the Actions, Context, and Apps/Workspaces paths reflect the publicly documented Klu API reference and SDK surface. Where the public docs document a capability via the SDK but do not publish the exact REST path, this spec models the conventional resource path used by the Klu Engine; see review.yml for which operations are documented verbatim versus inferred from the SDK.'
  termsOfService: https://klu.ai/terms
  contact:
    name: Klu Support
    url: https://help.klu.ai/
  version: '1.0'
servers:
- url: https://api.klu.ai/v1
  description: Klu Engine production API
security:
- bearerAuth: []
tags:
- name: Workspaces
  description: Workspace administration.
paths:
  /workspaces:
    get:
      operationId: listWorkspaces
      tags:
      - Workspaces
      summary: List workspaces
      responses:
        '200':
          description: Workspace list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Workspace'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    Workspace:
      type: object
      properties:
        guid:
          type: string
        name:
          type: string
        slug:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Klu API key passed as a Bearer token in the Authorization header.
