openapi: 3.2.0
info:
  title: Klu Data API
  description: REST API for the Klu (klu.ai) LLM app platform.
  termsOfService: https://klu.ai/terms
  contact:
    name: Klu Support
    url: https://help.klu.ai/
  version: '1.0'
servers:
- url: https://api.klu.ai/v1
  description: Klu Engine production API
security:
- bearerAuth: []
tags:
- name: Data
  description: Data points produced by Action generations.
paths:
  /data/{guid}:
    get:
      operationId: getDataPoint
      tags:
      - Data
      summary: Get a data point
      description: Retrieves a data point by GUID, including its prompt, completion, and metadata. The data point GUID is returned in the feedback URL of an Action run.
      parameters:
      - $ref: '#/components/parameters/Guid'
      responses:
        '200':
          description: Data point.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataPoint'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    DataPoint:
      type: object
      properties:
        guid:
          type: string
        prompt:
          type: string
        completion:
          type: string
        meta_data:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
  parameters:
    Guid:
      name: guid
      in: path
      required: true
      description: GUID of the resource.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Klu API key passed as a Bearer token in the Authorization header.
