openapi: 3.2.0
info:
  title: Klu Workspaces API
  description: REST API for the Klu (klu.ai) LLM app platform.
  termsOfService: https://klu.ai/terms
  contact:
    name: Klu Support
    url: https://help.klu.ai/
  version: '1.0'
servers:
- url: https://api.klu.ai/v1
  description: Klu Engine production API
security:
- bearerAuth: []
tags:
- name: Workspaces
  description: Workspace administration.
paths:
  /workspaces:
    get:
      operationId: listWorkspaces
      tags:
      - Workspaces
      summary: List workspaces
      responses:
        '200':
          description: Workspace list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Workspace'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    Workspace:
      type: object
      properties:
        guid:
          type: string
        name:
          type: string
        slug:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Klu API key passed as a Bearer token in the Authorization header.
